<!-- <p-table
[paginator]="true"
[rows]="1"
[showCurrentPageReport]="true"
[tableStyle]="{ 'min-width': '50rem' }"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[rowsPerPageOptions]="[1, 5, 25, 50]">
<ng-template pTemplate="header">
    <tr>
        <th style="width:25%">Id</th>
        <th style="width:25%">Quantity</th>
        <th style="width:25%">Type of chair</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-invoices>
    <tr>
        <td>{{ invoices.id }}</td>
        <td>{{ invoices.quantity }}</td>
        <td>{{ invoices.typeOfChair }}</td>
    </tr>
</ng-template>
<ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
</ng-template>
<ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
</ng-template>
</p-table> -->