<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>


<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '500px','margin':'5% 40%' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <div class="form-group">
        <form action="" [formGroup]="formChangePassword">
            <label for="password">Current Password : </label>
            <input type="password" formControlName="currentPassword" class="form-control" id="password">
            <label for="" *ngIf="formChangePassword.get('currentPassword').touched">

                <div *ngIf="formChangePassword.hasError('required',['currentPassword'])" style="color : red">
                    Current Password is required.
                </div>

                <div *ngIf="formChangePassword.hasError('minlength',['currentPassword'])" style="color : red">
                    At least 3 characters
                </div>

                <div *ngIf="formChangePassword.hasError('maxlength',['currentPassword'])" style="color : red">
                    At least 3 characters
                </div>


                <!-- <div *ngIf="formChangePassword.hasError('pattern',['currentPassword'])" style="color : red">
                    Not patern
                </div> -->
                
            </label>
            <br>
            <label for="" *ngIf="formChangePassword.get('currentPassword').touched">
            </label>

            <br>
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password">
            <br>
            <label for="confirm">ConfirmPassword</label>
            <input type="password" pInputText formControlName="confirm" class="form-control" id="confirm">
            <br>
            <p-button [disabled]="formChangePassword.invalid" [style]="{'width':'100%','margin-top':'30px'}" label="Change Password" styleClass="p-button-raised p-button-text p-button-help" (click)="changePasswordWithCurrentPassword()"></p-button>
        </form>
    </div>
</p-card>