<style>
    .sele {
        position: relative;
        padding: 7px 40px 7px 12px;
        width: 30%;
        height: 50px;
        border: 1px solid #E8EAED;
        border-radius: 5px;
        background: white;
        box-shadow: 0 1px 3px -2px #9098A9;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        transition: all 150ms ease;
    }
    
    option {
        color: #223254;
    }
</style>

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Creation Account</h3>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="acc" (ngSubmit)="save()">
                        <label for=" exampleInputName1 ">Name</label>
                        <div class="form-group ">
                            <input type="text " pInputText formControlName="fullname" style="width:100%; color: #404244; font-family: Poppins; " placeholder="Your Name" />
                        </div>

                        <label for=" exampleInputName1 ">Email</label>
                        <div class="form-group ">
                            <input type="text " pInputText formControlName="email" style="width:100%; color: #404244; font-family: Poppins; " placeholder="Your Email " />
                        </div>
                        <label for=" exampleInputName1 ">Password</label>
                        <div class="form-group ">
                            <input type="password" pInputText formControlName="password" style="width:100%; color: #404244; font-family: Poppins; " placeholder="Your Password " />
                        </div>
                        <label for=" exampleInputName1 ">Phone</label>
                        <div class="form-group ">
                            <input type="text " pInputText formControlName="phone" style="width:100%; color: #404244; font-family: Poppins; " placeholder="Your Phone " />
                        </div>
                        <label for=" exampleInputName1 ">Address</label>
                        <div class="form-group ">
                            <input type="text " pInputText formControlName="address" style="width:100%; color: #404244; font-family: Poppins; " placeholder="Your Address " />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="col-sm-3 col-form-label">Birth Day</label>
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <p-calendar [showIcon]="true" formControlName="dob"></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label for="exampleInputName1">Position</label>
                        <div class="form-group">
                            <select class="sele" tabindex="-98" formControlName="level">
                                <option value="3">Driver</option>
                                <option value="2">Staff</option>
                            </select>
                        </div>
                        <button type="submit " class="btn btn-primary mr-2 ">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>